################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sudoku C# WebService/Sudoku WebService/Sudoku JavaScript Version/{820E1B2A-D219-4BC8-A803-AC7470B02A7E}
